ol.arabic {
  list-style: none;
}

div.body h1 {
  color: #999;
  font-size: 18pt;
}

div.body a {
  color: #7e7e7e;
  text-decoration: none;
}

div.body a:hover {
  text-decoration: underline;
}

body {
  counter-reset: thru;
}

ol.arabic>li::before {
  counter-increment: thru;
  content: counter(thru);
}
