blockquote {
  color: #7e7e7e;
}

ol.arabic {
  list-style: none;
  position: absolute;
}

div.body h1 {
  color: #999;
  font-size: 18pt;
}

div.body a {
  color: #7e7e7e;
  text-decoration: none;
  border-bottom: 1px dotted #7e7e7e;
}

div.body a:hover {
  text-decoration: none;
  border-bottom: 1px solid #7e7e7e;
}

body {
  counter-reset: thru;
}

ol.arabic {
  position: relative;
}

ol.arabic>li::before {
  position: absolute;
  color: #8B0000;
  left: -2em;
  counter-increment: thru;
  content: counter(thru);
}
