div.admonition p.admonition-title {
  font-size: 14pt;
  font-weight: bold;
}

h1.logo, div#searchbox h3 {
  font-size: 16pt;
}

div#searchbox h3 {
  font-size: 14pt;
}

li pre {
  font-size: 11pt;
  padding: 7px 14px;
}

blockquote {
  color: #7e7e7e;
}

ol.arabic {
  list-style: none;
  position: absolute;
}

div.body h1 {
  color: #999;
  font-size: 18pt;
}

div.body h2 {
  color: #999;
  font-size: 14pt;
}


div.body a {
  color: #7e7e7e;
  text-decoration: none;
  border-bottom: 1px dotted #7e7e7e;
}

div.body a:hover {
  text-decoration: none;
  border-bottom: 1px solid #7e7e7e;
}

body {
  counter-reset: thru;
}

ol.arabic {
  position: relative;
}

ol.arabic>li::before {
  position: absolute;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #000;
  left: -2.25em;
  counter-increment: thru;
  content: counter(thru);
}

@media only screen and (max-width: 450px) {

  div.body {
    font-size: 14pt;
      min-width: 200px;
      width: 100%;
  }

  li pre {
    font-size: 9pt;
  }
}